* {
    margin: 0;
    padding-left: 0;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
nav {
    display: inline-block;
    margin-left: auto;
}
nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

nav ul {
    padding-left: 0;

}

h1,h2,h3,h4, p {
    margin-bottom: 16px;

}

header, main, footer {
    padding: 12px;
}

.img-container {
    text-align: center;
    display: block;
    margin: auto;
}

.testo-rosso {
    color: red;
}

#intro, #vita, #lavoro {
    margin: 24px 0;
}