body {
    background-image: url(cosmo.webp); 
    color: #ffc800; /* Giallo/Arancio tipico */
    font-family: 'News Gothic', sans-serif;
    text-align: center; /* Centra l'intero corpo della pagina */
    margin: 0; 
    padding: 0; 
}

/* Stili per titoli */

h1 {
    font-size: 500%;
}
.text h1, .text h3, .text h2 {
    text-align: center; /* Assicura che i titoli siano centrati */
    text-transform: uppercase;
    font-size: 300%; /* Dimensioni leggibili */
    margin-bottom: 25px; 
}


.text h3 {
    font-size: 130%; 
    margin-bottom: 50px;
}
.text h2 {
    font-size: 120%;
    margin-bottom: 30px;
}

/* 1. Il Contenitore (Area Visibile) */
.starwars-container {
    width: 90%; 
    height: 100vh; 
    margin: 0 auto;
    position: relative;
    padding: 0 15px; 
}


/* 3. Stili per Paragrafi e Dialoghi */
.text p {
    /* IMPORTANTE: text-align: center per centrare il testo a bandiera */
    text-align: center; 
    font-size: 110%; 
    margin: 1.5em auto; 
    width: 85%; /* Mantiene il blocco di testo centrato */
}

/* Allineamento dei personaggi */
.personaggio {
    color: #007fff; 
    font-weight: bold;
    display: block;
    margin-top: 1.5em;
    font-size: 120%;
    text-align: center;
}

.dialogo {
    font-size: 110%;
    text-align: center;
    margin: 0 auto 1em auto;
}

/* Colori dei personaggi */
.leila {
    color: #66FF66; 
}

.fener {
    color: #ff0000; 
}