h1 {
    color: rebeccapurple;
    background-color: lemonchiffon;
    font-size: 100px;
    
    /* assegna una decorazione al testo e ha dei valori prestabiliti come tante altre proprietà */
    text-decoration: underline;

    /* permette di scegliere la font family del testo */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*  permette di allineare il testo */
    text-align: center;
}

p {
    /* determina lo spazio verticale tra le righe di un testo (interlinea) */
    line-height: 30px;

    /* determina lo spazio tra ogni singola lettera di un testo */
    letter-spacing: 0.6px;

    /* suddivide il contenuto in colonne */
    column-count: 2;

    /* impostare quantità di spazio tra le colonne */
    column-gap: 20px;
}

ul {
    /* impostare un bordo attorno all'elemento */
    border-width: 4px;
    border-style: groove;
    border-color: hotpink;

    /* tutte queste proprietà possono essere abbreviate in una unica (shortehand) */
    /* border: 4px solid salmon ; */

    /* posso assegnare un bordo solo a un lato dell'elemento */
    border-bottom: 4px solid salmon;
    border-left: 6px dashed salmon;
    border-right: 8px dotted rgb(250, 128, 114);
}

li {
    /* per gestire l'aspetto dei puntini di ogni elemento della lista */
    list-style-type: upper-roman;
    
}
/* --------------------------- COLORI - CODICI HEX -------------------------- */
/* 
    Abbiamo usato delle parole chiave per assegnare determinati colori grazie a CSS, ma possiamo usare codici hex per essere più precisi e usare esattamente il colore preciso che magari non è disponibile tra quelli offerti da CSS.
    I codici hex sono formati da un cancelleto e una stringa alfanumerica di 6 caratteri (es.: #42f4f1)
    le 3 coppie di caratteri fanno riferimento ai 3 canali dei colori primari RGB, quindi primi due caratteri gestiscono il rosso, poi verde, poi blu, risultando in un colore specifico.

    nero: #000000
    bianco: #ffffff
    rgba (alfa channel): trasparenza 0-1
*/

/* -------------------- ELEMENTI BLOCK E ELEMENTI INLINE -------------------- */
/* 
    L'HTML è composto da elementi diversi alcuni di questi sono elementi block e altri sono elementi inline. La differenza sta nel come vengono visualizzati sulla pagina e quanto spazio occupano:
        - elementi block: occupano l'intera larghezza disponibile, mandando "a capo" gli elementi che seguono, iniziano sempre su una nuova riga e possono contenere altri elementi block o inline.
        - elementi inline: occupano solo la larghezza necessaria per il loro contenuto e non iniziano su una nuova riga. Questi elementi vengono visualizzati uno accanto all'altro, a meno che no nci sia un'interruzione di riga. Possono contenere solo altri elementi inline. Non accettano margin
*/

/* span {
    display: block;
}

div {
    display: inline;
} */

/* ---------------------------- MARGIN E PADDING ---------------------------- */
/*
    Margin e padding sono due proprietà fondamentali che controllano lo spazio attorno e all'interno degli elementi. 
    Margin
    Il margin è lo spazio esterno di un elemento.  Si tratta dell'area che separa un elemento dagli altri elemetni circostanti. I margini non hanno colore e non influenzano le dimensioni dell'elemento stesso; invece creano spazio attorno a esso.

    Padding
    Il padding è lo spazio interno di un elemento. SI tratta dell'area che separa il contenuto dell'elemento (come testo o imamgini) dai bordi dell'elemento stesso. A differenza dei margin, il padding influisce sulle dimensioni complessive dell'elemento.
*/

div  {
    border: 2px solid #323231;
    /* margin: 50px 40px 100px 40px; top right bottom left*/
    margin: 50px 40px; /* top bottom - right left*/
    padding: 20px;
    
}

span {
    border: 1px solid #323231;
    margin: 20px;
    padding: 20px;
    /* width: 1930px; */
}

/* ------------------------------ INLINE BLOCK ------------------------------ */    
/* 
    Gli elementi inline block combinano caratteristiche sia degli elementi inline sia block.
    Si comportano come elementi inline, quindi possono essere posizionati uno accanto all'altro sulla stessa riga, ma posssono avere larghezza e altezza definite.
    In più supportano le proprietà di margin e padding, quindi possiamo aggiungere spazio attorno e all'interno degli elementi.
    Non iniziano su una nuova riga, a meno che ci sia spazio insufficiente nella riga corrente.
*/

