body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #708090;
}
h1 {
    color:#885053;
    background-color: bisque;
}

h2 {
    color: black;
}
li {
    list-style-type: none;
}

.ingredienti {
    border: 5px solid beige ;
    width: 500px;
    align-content: center;
    margin: 0 auto;
}  